.table-responsive{  
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y:scroll;
    height:500px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }